<div fxLayout="column" fxLayoutAlign="center center">
  <app-to-do-add-bar (addToDo)="onAddTodo($event)"></app-to-do-add-bar>
  <div>
    <div [sortablejsOptions]="sortablejsOptions" [sortablejs]="toDos" fxLayout="column">
      <mat-card *ngFor="let toDo of toDos" fxLayout="row" fxLayoutGap="20px">
        <mat-icon class="handle" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()" fxFlex="25px" fxFlexAlign="center">
          drag_indicator
        </mat-icon>
        <app-to-do-item [toDo]="toDo" (delete)="onItemDelete(toDo.id)" fxFlex></app-to-do-item>
      </mat-card>
    </div>
  </div>
</div>