<div fxLayout="row">
    <div fxFlex="200px" fxFlexAlign="center">{{toDo.description}}</div>
    <button mat-icon-button fxFlex (click)="onDelete()">
        <mat-icon>delete</mat-icon>
    </button>
</div>